default:
    suites:
        default:
            paths: ['tests/Acceptance/features'] 
            contexts:
                - Tests\Acceptance\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension: 
            bootstrap: tests/bootstrap.php
            kernel: 
                class: Finizens\Shared\Infrastructure\Symfony\Kernel
                environment: test
        Behat\MinkExtension:
            sessions: 
                symfony: 
                    symfony: ~
            base_url: ''
